version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
    open-pull-requests-limit: 10
    reviewers:
      - "drawotphub"
    assignees:
      - "drawotphub"
    labels:
      - "dependencies"
      - "npm"
    commit-message:
      prefix: "chore(deps):"
      prefix-development: "chore(deps-dev):"
      include: "scope"
    allow:
      - dependency-type: "all"
    ignore:
      - dependency-name: "expo"
        versions: [">=52.0.0"]
